<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted red;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: yellow;
  color: black;
  text-align: left;
  border-radius: 5px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
